body {	
	margin: 0;
	font-family: 'Merriweather', serif;
	text-align: center;
	background-color: black;
}

h1 {
	margin: 100px auto 0 auto;
	font-size: 2.625rem;
	font-family: 'Montserrat';
	color: #66BFBF;
	line-height: 2; 
	text-align: left;
}
h2 {
	font-size: 2.2rem;
	font-weight: normal;
	color: #66BFBF;
}
h3 {
	color: #11999E;
}

li{
	color: white;
}
a {
	color: white;
}
p {
	color: white;
}
hr {
	border-width: 10px 0 0 0;
	border-style: dotted;
	border-color: #2980b9;
	color: #EAF6F6;
	margin: 50px auto;
	width: 10%;
}


.container-fluid{

	padding: 3% 15%;
}

.pfp{
	margin-top: 50px;
	border-radius: 50%;
}

.top{
	width: 50%;
	margin: 100px auto 400px auto;
}
.mid	{
	padding-bottom: 50px;
	margin: 100px 0;
}
.bottom	{
	background-color: #2980b9;
}
.aboutme{
	width: 50%;
	margin: 100px auto 100px auto;
	line-height: 2;
}

.skill-row {
	width: 60%;
	margin: 150px auto 150px auto;
	line-height: 2;
}
.myskill1 {

	width: 150px;
	height: 150px;
	float: left;
	margin-right: 30px;
	border-radius: 50%;
	overflow: hidden;
}
.myskill2 {
	width: 150px;
	height: 150px;
	float: right;
	margin-left: 30px;
	border-radius: 50%;
	overflow: hidden;
}


.btn {
  background: black;
  background-image: linear-gradient(to bottom, black, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #15f4ee;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}

.btn-linkedin:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3cb0fd);
  text-decoration: none;
}

.btn-git:hover {
  background: #0072b1;
  background-image: linear-gradient(to bottom, black, black);
  text-decoration: none;
}

.btn-insta:hover {
  background: #4f5bd5;
  background-image: linear-gradient(to bottom, #4f5bd5, red);
  text-decoration: none;
}
#scrollToTopBtn {
	background: black;
	background-image: linear-gradient(to bottom, black, #2980b9);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #15f4ee;
	font-size: 20px;
	padding: 10px 10px 10px 10px;
	text-decoration: none;

	position: fixed;
        bottom: 20px;
        right: 20px;
        border: none;
        cursor: pointer;
}

.card{
	background-color: black;
	height: 100%;
}
.card-header{
	text-align: left;
	color: white;
}
.card-body{
	text-align: left;
}
.contactl{
	display: flex;
}
.contact{
  padding: 1% 0.5%;
}

.designedby{
	color: #EAF6F6;
}
.footer-link {
	color: #11999E;
}
.last-p {
	margin:auto auto 50px auto;
}
.hidden{
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1s;
}
.show{
	opacity: 1;
	filter: blur(0px);
	transform: translateX(0);

}